@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");
/*Typography
--------------------------------------------------------------*/

body {
	color: #404040;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 1rem;
	line-height: 1.5;
	padding: 0;
	margin: 0;
	background-image: url(../src/images/homepage.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: top;
}

a {
	text-decoration: none;
}
a:visited {
  color: rgb(53, 53, 53);
  -webkit-text-fill-color: white;
}
button {
	color: #404040;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 1rem;
	line-height: 1.5;
	padding: 0;
	margin: 0;
}
input {
	color: #404040;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 1rem;
	line-height: 1.5;
	padding: 0;
	margin: 0;
}
select {
	color: #404040;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 1rem;
	line-height: 1.5;
	padding: 0;
	margin: 0;
}
textarea {
	color: #404040;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 1rem;
	line-height: 1.5;
	padding: 0;
	margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Patua One", serif;
	letter-spacing: 2px;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
ul {
	padding-inline-start: 0;
}
.fakeLink {
	color: -webkit-link;
	cursor: pointer;
	background: none !important;
	border: none;
	cursor: pointer;
}

/* .fakeLink:hover {
	font-weight: 100 ;
} */

.nav-item {
	list-style-type: none;
}

/* General button style */
.btn {
	/* border: none; */
  border: 2px solid #666;
	border-bottom: none;
	font-family: "Luckiest Guy";
	font-size: 25px;
	/* list-style-type: none; */
	border-radius: 5px;
	box-shadow: 0px 7px rgb(121, 120, 120);
  font-family: "Luckiest Guy";
	font-size: 20px;
	/* color: inherit; */
	/* background: none; */
	/* cursor: pointer; */
	padding: 1rem 1rem;
	/* display: inline-block; */
	margin: 15px 30px;
	/* text-transform: uppercase; */
	letter-spacing: 1px;
	/* font-weight: 700; */
	/* outline: none; */
	position: relative;
	transition: all 0.3s;
}

.btn:after {
	content: "";
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

/* Pseudo elements for icons */
.btn:before {
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	position: relative;
	-webkit-font-smoothing: antialiased;
}

/* Icon separator */
.btn-sep {
	padding: 25px 60px 25px 120px;
}

.btn-sep:before {
	background: rgba(0, 0, 0, 0.15);
}

/* Button 1 */
.btn-1 {
	background: #3498db;
	color: #fff;
}

.btn-1:hover {
	background: #2980b9;
  background-image: url(/src/images/homepage.png);
}

.btn-1:active {
	box-shadow: 0 5px #666;
	transform: translateY(4px);

}

.btn-1:before {
	position: absolute;
	height: 100%;
	left: 0;
	top: 0;
	line-height: 3;
	font-size: 140%;
	width: 60px;
}

/* Button 2 */
.btn-2 {
	background: #bd1919;
	color: #fff;
  margin-left: 0;
  margin-bottom: 2rem;
}

.btn-2:hover {
	background: #a10d0d;
}

.btn-2:active {
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

.btn-2:before {
	position: absolute;
	height: 100%;
	left: 0;
	top: 0;
	line-height: 3;
	font-size: 140%;
	width: 60px;
}

/* Button 3 */
.btn-3 {
	background: #e74c3c;
	color: #fff;
}

.btn-3:hover {
	background: #c0392b;
}

.btn-3:active {
	background: #c0392b;
	top: 2px;
}

.btn-3:before {
	position: absolute;
	height: 100%;
	left: 0;
	top: 0;
	line-height: 3;
	font-size: 140%;
	width: 60px;
}

/* Button 3 */
.btn-4 {
	background: #34495e;
	color: #fff;
}

.btn-4:hover {
	background: #2c3e50;
}

.btn-4:active {
	background: #2c3e50;
	top: 2px;
}

.btn-4:before {
	position: absolute;
	height: 100%;
	left: 0;
	top: 0;
	line-height: 3;
	font-size: 140%;
	width: 60px;
}

/* Icons */

.icon-send:before {
	content: "🕹️";
}
